<!DOCTYPE html>
<html lang="en" ng-app="toolRegistry">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="../../assets/ico/favicon.png">

		<title>DASISH Tool Registry</title>

		<link href="./assets/css/bootstrap.css" rel="stylesheet" />
		<link href="./assets/css/hacks.css" rel="stylesheet" />
		<link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
		<link href="./assets/css/font-awesome-ie7.min.css" rel="stylesheet" />
		
		<link rel="alternate" type="application/rdf+xml" href="http://rdf.tools.dasish.org/tool/{{item.identifier.shortname}}/xml" title="Structured Descriptor Document (RDF/XML format)" />
		<link rel="alternate" type="text/rdf+n3" href="http://rdf.tools.dasish.org/tool/{{item.identifier.shortname}}/turtle" title="Structured Descriptor Document (N3/Turtle format)" />
		<link rel="alternate" type="application/json+rdf" href="http://rdf.tools.dasish.org/tool/{{item.identifier.shortname}}/json" title="Structured Descriptor Document (RDF/JSON format)" />
		<link rel="alternate" type="text/plain" href="http://rdf.tools.dasish.org/tool/{{item.identifier.shortname}}/ntriples" title="Structured Descriptor Document (N-Triples format)" />
		
		<style type="text/css">

		</style>
	</head>

	<body>


	<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="TopCtrl">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Tools Registry</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ng-class="ui.routes.getRoute('HomeCtrl')"><a href="#/">Home</a></li>
					<li ng-class="ui.routes.getRoute('FacetedCtrl')"><a href="#/search/faceted">Faceted search</a></li>
					<li ng-class="ui.routes.getRoute('AddToolCtrl')"><a href="#/add">Add a tool</a></li>
					<li class="dropdown">
					  <a class="dropdown-toggle">
						About
					  </a>
					  <ul class="dropdown-menu">
						<li ng-class="ui.routes.getRoute('rdf')"><a href="#/about/rdf/">RDF</a></li>
						<li ng-class="ui.routes.getRoute('API')"><a href="#/about/api/">API</a></li>
					  </ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="pull-right" ng-show="ui.user.data.signedin"><a><span class="glyphicon glyphicon-user"></span> {{ui.user.data.name}}</a></li>
					<li class="pull-right" ng-show="ui.user.data.signedin"><a ng-click="ui.user.signout()"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
					<li class="pull-right" ng-show="!ui.user.data.signedin"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Type your research here"  ng-model="ui.search.input" class="form-control" typeahead-wait-ms="100" typeahead="answer.identifiers.shortname as answer.title for answer in ui.search.typeahead($viewValue)" typeahead-loading="true" typeahead-on-select="ui.search.select($item)">
					</div>
					<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
				</form>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<div class="container" ng-view>
	</div>
	<div class="container">
		<!-- Site footer -->
		<div class="footer">
			
		</div>

	</div> <!-- /container -->


    <!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="./assets/js/angular.min.js"></script>
	<script type="text/javascript" src="./assets/js/angular.sanitize.js"></script>
	<script type="text/javascript" src="./assets/js/angular.cookie.js"></script>
	<script type="text/javascript" src="./assets/js/angular.bootstrap.tpls.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.0.0/lodash.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>
	
	<script type="text/javascript" src="./app.js"></script>
	
	<script type="text/javascript" src="./modules/services.js"></script>
	<script type="text/javascript" src="./modules/filter.js"></script>
	
	<script type="text/javascript" src="./controller/tool.js"></script>
	<script type="text/javascript" src="./controller/tool.insert.js"></script>
	<script type="text/javascript" src="./controller/top.js"></script>
	<script type="text/javascript" src="./controller/home.js"></script>
	<script type="text/javascript" src="./controller/apiFaq.js"></script>
	<script type="text/javascript" src="./controller/search.faceted.js"></script>
	<script type="text/javascript" src="./controller/login.js"></script>
	<script type="text/javascript" src="./controller/browse.facet.facetID.js"></script>
	<script type="text/javascript" src="./controller/browse.facet.js"></script>
	
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
