/crawling/Bamboo/output
/crawling/Bamboo/raw
/crawling/Bamboo/sql
/crawling/Bamboo/tests

/crawling/ArtsHumanities/raw
/crawling/ArtsHumanities/output

/crawling/Synonyms/output

/crawling/Ignore/output

/crawling/HistoryOnline/output
/crawling/HistoryOnline/raw

/crawling/SQL/tests

/UI/ADMIN
/UI/API

*.pyc
