# Laravel framework related files

/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php

# Temporary and project files

*.sublime-project
*.sublime-workspace
*.swap
*.swo
*.swp
*.tmproj
*~
.DS_Store
.idea
Thumbs.db
