<form>
	<div class="row">
		<div class="col-lg-3" id="facetList">
			<div class="list-group">
				<a class="list-group-item" ng-repeat="facet in ui.facets.facets" >
					<h4 class="list-group-item-heading">
						<span class="btn btn-xs btn-default" ng-click="ui.facets.used[facet.facetParam].active = !ui.facets.used[facet.facetParam].active;" ng-class="{'btn-primary' : ui.facets.used[facet.facetParam].active }" ><span class="glyphicon glyphicon-off"></span></span>
						<span class="btn btn-xs btn-default pull-right" ng-click="facet.active = !facet.active;" ng-class="{'btn-primary' : facet.active }" ><span class="glyphicon glyphicon-search"></span></span>
						<span ng-bind="facet.facetLegend"></span>
						</h4>
					<section class="list-group-options">
					
						<span ng-bind="facet.facetTotal"></span> {{ 'label(s) available' | translate }}
						<hr />
						<div ng-click="ui.facets.options[facet.facetParam].inclusive = !ui.facets.options[facet.facetParam].inclusive;" class="btn-col-group">
							<span class="btn"><b>{{ 'inclusive' | translate }}</b></span>
							<span class="btn pull-right" ng-class="{'btn-default' : !(ui.facets.options[facet.facetParam].inclusive), 'btn-primary' : (ui.facets.options[facet.facetParam].inclusive)}" >
								<span class="glyphicon glyphicon-off"></span>
							</span>
						</div>
						<div ng-click="ui.facets.options[facet.facetParam].optional = !ui.facets.options[facet.facetParam].optional;">
							<span class="btn"><b>{{ 'optional' | translate }}</b></span>
							<span class="btn pull-right" ng-class="{'btn-default' : !(ui.facets.options[facet.facetParam].optional), 'btn-primary' : (ui.facets.options[facet.facetParam].optional)}" >
								<span class="glyphicon glyphicon-off"></span>
							</span>
						</div>
						<hr />
					</section>
					<p class="list-group-item-text"><span ng-repeat="option in ui.facets.used[facet.facetParam].possibilities | filter:{active:true}" class="badge" ng-click="ui.facets.del(facet.facetParam, option.id)">{{option.name}}</span></p>
				</a>
			</div>
			<hr />
			
				
			<div class="btn-group btn-block btn-group-justified btn-col-group">
				<span class="btn"><b>{{ 'order by' | translate }}</b></span>
				<span class="btn btn-default" ng-class="{'btn-primary' : ui.facets.params.orderBy == 'title'}"  ng-click="ui.facets.params.orderBy = 'title';">
					{{ 'title' | translate }}
				</span>
				<span class="btn btn-default" ng-class="{'btn-primary' : ui.facets.params.orderBy == 'identifier'}"  ng-click="ui.facets.params.orderBy = 'identifier';">
					{{ 'date' | translate }}
				</span>
			</div>
			<div class="btn-group btn-block btn-group-justified">
				<span class="btn"><b>Order</b></span>
				<span class="btn btn-default" ng-class="{'btn-primary' : ui.facets.params.order == 'ASC'}"  ng-click="ui.facets.params.order = 'ASC';">
					{{ 'a-z' | translate }}
				</span>
				<span class="btn btn-default" ng-class="{'btn-primary' : ui.facets.params.order == 'DESC'}"  ng-click="ui.facets.params.order = 'DESC';">
					{{ 'z-a' | translate }}
				</span>
			</div>
			<hr />
			<p>
			<button ng-click="ui.facets.submit()" class="btn btn-primary btn-lg btn-block">{{ 'search' | translate }}</button>
			</p>
		</div>
		<div class="col-lg-9">
			<div class="container">
				<div class="row">
						<ul class="list-inline">
							<li ng-repeat="facet in ui.facets.facets | filter:{active:true}" class="col-lg-3">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">
											<span ng-bind="facet.facetLegend"></span>
											<span class="btn btn-xs btn-default pull-right" ng-click="facet.active = !facet.active;" ng-class="{'btn-primary' : facet.active }" ><span class="glyphicon glyphicon-remove"></span></span>
										</h3>
									</div>
									<div class="panel-body">
										<div class="btn-group btn-group-sm" style="margin-bottom:5px;">
											<a class="btn btn-default" ng-class="{'active' : !facet.option.case_insensitivity}" ng-click="facet.option.case_insensitivity = !facet.option.case_insensitivity; facet.possibilities = ui.facets.search(facet);">{{ 'case sensitive' | translate }}</a>
										</div>
										
										<input type="text" class="form-control" ng-model="facet.filter" placeholder="Filter your {{facet.facetLegend}}" ng-change="facet.possibilities = ui.facets.search(facet)"/>
										<div style="max-height:200px; overflow:auto;">
											<div class="checkbox" ng-repeat="keyword in facet.possibilities.facets" ng-click="ui.facets.select(facet, keyword)">
												<label>
													<input type="checkbox" id="{{facet.facetParam}}-{{keyword.id}}" ng-model="keyword.active" value="{{keyword.id}}" /> {{keyword.name}}
												</label>
											</div>
										</div>
									</div>
								</div>
								
							</li>
						</ul>
				</div>
				<section id="errors" ng-show="!results && ui.facets.error">
					<div class="alert alert-warning">{{ui.facets.error}}</div>
				</section>
				<section id="viewContent" ng-show="results.items">
					<p>Tools from <span ng-bind="ui.parameters.start + 1"></span> {{ 'to' | translate }} <span ng-bind="ui.parameters.limit + ui.parameters.start" ng-show="ui.parameters.total > 20"></span><span ng-bind="ui.parameters.total" ng-show="ui.parameters.total < 20"></span> on <span ng-bind="ui.parameters.total"></span> {{ 'available' | translate }}</p>
					<hr />
                                        <div class="row" ng-show="ui.pages.totalItem > ui.pages.itemPerPage">
						<pagination total-items="ui.pages.totalItem" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
					</div>
					<section class="itemList" items="results.items"></section>
					<div class="row" ng-show="ui.pages.totalItem > ui.pages.itemPerPage">
						<pagination total-items="ui.pages.totalItem" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
					</div>
				</section>
			</div>
		</div>
	</div>
</form>