<div class="container" ng-show="$parent.user.signedin == true">

    <h2>Edit Profile</h2>

    <form class="form-horizontal" role="form" ng-show="$parent.user.signedin" ng-submit="ui.profile.submit()">
        <div class="alert" ng-class="{'alert-success' : (ui.profile.status == 'success'), 'alert-warning' : (ui.profile.status == 'error')}" ng-show="ui.profile.message" ng-bind="ui.profile.message"></div>
        <div class="form-group">
            <label for="inputName1" class="col-lg-2 control-label" ng-bind=" 'name' | translate"></label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName1" ng-model="ui.profile.userdata.name" placeholder="{{ui.profile.placeholder.name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label" ng-bind="  'email' | translate"></label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail1"  ng-model="ui.profile.userdata.mail" placeholder="{{ui.profile.placeholder.mail}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label" ng-bind=" 'new password' | translate"></label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword1" ng-model="ui.profile.userdata.newpassword1" placeholder="{{ 'password' | translate }}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword2" class="col-lg-2 control-label" ng-bind=" 're-type password' | translate"></label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword2" ng-model="ui.profile.userdata.newpassword2" placeholder="{{ 're-type password' | translate }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary btn-block" ng-bind=" 'update profile' | translate"></button>
            </div>
        </div>
    </form>
    <br/>

    <hr />
    
    <h3>Registered API Keys</h3>

    <table class="sortable table table-striped table-bordered">
        <thead>
            <tr>
                <th>Public Key</th>
                <th>Private Key</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="key in ui.profile.placeholder.keys">
                <td ng-bind="key.public_key"></td>
                <td ng-bind="key.private_key"></td>
            </tr>
        </tbody>
    </table>
    <br/>
    
    <hr />
    
    <h3>Apply for API Key</h3>
    
    <form class="form-horizontal" role="form" ng-show="$parent.user.signedin" ng-submit="ui.profile.apply()">
        <div class="alert" ng-class="{'alert-success' : (ui.profile.apply.status == 'success'), 'alert-warning' : (ui.profile.apply.status == 'error')}" ng-show="ui.profile.apply.message" ng-bind="ui.profile.apply.message"></div>
        <div class="form-group">
            <label for="inputDomain" class="col-lg-2 control-label" ng-model="ui.profile.apply.domain" ng-bind=" 'domain' | translate"></label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputDomain">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-2">
                <button type="submit" class="btn btn-primary btn-block" ng-bind=" 'apply for api key' | translate"></button>
            </div>
        </div>
    </form>

</div>