<div class="container" ng-show="$parent.user.signedin == true">
    
    <h2>Edit Profile</h2>
    
    <form class="form-horizontal" role="form" ng-show="$parent.user.signedin" ng-submit="ui.profile.submit()">
        <div class="alert" ng-class="{'alert-success' : (ui.profile.status == 'success'), 'alert-warning' : (ui.profile.status == 'error')}" ng-show="ui.profile.message" ng-bind="ui.profile.message"></div>
        <div class="form-group">
            <label for="inputName1" class="col-lg-2 control-label" ng-bind=" 'name' | translate"></label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName1" ng-model="ui.profile.userdata.name" placeholder="{{ui.profile.placeholder.name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label" ng-bind="  'email' | translate "></label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail1"  ng-model="ui.profile.userdata.mail" placeholder="{{ui.profile.placeholder.mail}}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label" ng-bind=" 'new password' | translate"></label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword1" ng-model="ui.profile.userdata.newpassword1" placeholder="{{ 'password' | translate }}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword2" class="col-lg-2 control-label" ng-bind=" 're-type password' | translate"></label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword2" ng-model="ui.profile.userdata.newpassword2" placeholder="{{ 're-type password' | translate }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary btn-block" ng-bind=" 'update profile' | translate"></button>
            </div>
        </div>
    </form>
</div>