<h2>{{ 'sign up' | translate }} !</h2>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="inputName1" class="col-lg-2 control-label">{{ 'name' | translate }}</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="inputName1" placeholder="{{ 'name' | translate }}">
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail1" class="col-lg-2 control-label">{{ 'email' | translate }}</label>
		<div class="col-lg-10">
			<input type="email" class="form-control" id="inputEmail1" placeholder="{{ 'email' | translate }}">
		</div>
	</div>
	<div class="form-group">
		<label for="inputUsername1" class="col-lg-2 control-label">{{ 'username' | translate }}</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="inputUsername1" placeholder="{{ 'username' | translate }}">
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword1" class="col-lg-2 control-label">{{ 'password' | translate }}</label>
		<div class="col-lg-10">
			<input type="password" class="form-control" id="inputPassword1" placeholder="{{ 'password' | translate }}">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-default">{{ 'sign in' | translate }}</button>
		</div>
	</div>
</form>