Listen 80
Listen 8080

NameVirtualHost *:8080
NameVirtualHost *:80
<VirtualHost *:8080>
	ServerAdmin webmaster@localhost

	DocumentRoot /home/thibault/dev/DASISHT23/www/API/
	<Directory /home/thibault/dev/DASISHT23/www/API/>
		Options Indexes FollowSymLinks MultiViews
		
		AllowOverride All
		Order allow,deny
		allow from all
		
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>

<VirtualHost *:80>
	ServerAdmin webmaster@localhost

	DocumentRoot /home/thibault/dev/DASISHT23/www/UI/
	<Directory /home/thibault/dev/DASISHT23/www/UI/>
		Options Indexes FollowSymLinks MultiViews
		
		AllowOverride All
		Order allow,deny
		allow from all
		
	</Directory>

</VirtualHost>