/* 
    Document   : admin.css
    Created on : 2013-okt-18, 14:03:27
    Description:
        CSS-fixes for the admin interface
*/

.dataTables_filter{
    margin-right: 15px;
}

.dataTables_info {
    margin-left: 15px;
}