/* 
    Document   : admin.css
    Created on : 2013-okt-18, 14:03:27
    Description:
        CSS-fixes for the admin interface
*/

.dataTables_filter{
    margin-right: 15px;
}

.dataTables_info {
    margin-left: 15px;
}

.glyphicon {
	margin-right: 3px;
}

 .action-links  a {
	display: block;
 }
 
 .container{
     margin-top: 50px;
 }
 
 #DataTables_Table_0_wrapper{
     margin-top: 100px;
 }
 
 .page-header{
   position: fixed;
   z-index: 1000;  
   margin-top: 0px;
   background-color: #FFF;

   padding-bottom: 21px;
   width:60%;
 }
 
 .toolbox-fixed{
   position: fixed;
   z-index: 1000;
 }