/* TERESAH screen styles
---------------------------------------------------------------------------- */

/* Global definitions
---------------------------------------------------------------------------- */

body {
    background-color: #47ba73;
    color: #999;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%; /* = 16px */
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6em;
    position: relative;
}

a:link,
a:visited {
    color: #5d47ba;
    outline: none;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: #47ba73;
    text-decoration: underline;
}

p, 
ul, 
ol, 
dl {
    font-size: 0.875rem; /* = 14px */
}

.align {
    /* Use CSS3 Flexbox to vertically align the content */
        -ms-flex-align: center;
        -moz-box-align: center; /* Old syntax */
        -webkit-box-align: center; /* Old syntax */
        -webkit-align-items: center;
    align-items: center;
        display: -ms-flexbox; /* Old syntax */
        display: -ms-flex;
        display: -moz-box; /* Old syntax */
        display: -moz-flex;
        display: -webkit-box; /* Old syntax */
        display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.glyphicons, 
.halflings {
    color: inherit;
    padding: 0;
    vertical-align: inherit;
}

.glyphicons:before, 
.halflings:before {
    color: inherit;
    font-size: inherit;
    /* margin: 0; */
    position: inherit;
}

.symbol {
    /* Use CSS3 Flexbox to vertically align the content */
        -ms-flex-align: center;
        -moz-box-align: center; /* Old syntax */
        -webkit-box-align: center; /* Old syntax */
        -webkit-align-items: center;
    align-items: center;
    background-color: transparent;
        -ms-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-border-radius: 50%;
    border: 3px solid #5d47ba;
    border-radius: 50%;
        display: -ms-flexbox; /* Old syntax */
        display: -ms-flex;
        display: -moz-box; /* Old syntax */
        display: -moz-flex;
        display: -webkit-box; /* Old syntax */
        display: -webkit-flex;
    color: #5d47ba;
    display: flex;
    height: 53px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 53px;
}

.symbol.large {
    height: 136px;
    width: 136px;
}

.symbol abbr {
    border: none;
    color: #5d47ba;
    font-size: 1.125rem; /* = 18px */
    font-style: italic;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

/* Header
---------------------------------------------------------------------------- */

#header {
    border-top: 3px solid #47ba73;
    background: url(/assets/header_bg.jpg) 50% bottom no-repeat #5d47ba;
    background-size: cover;
}

#header .alert-box {
    border: none;
    margin-bottom: 0;
    text-align: center;
}

#header .alert-box p {
    margin-bottom: 0;
}

#header .alert-box .close {
    color: #fff;
}

/* Navigation */

#header .contain-to-grid, 
#header .top-bar, 
#header .top-bar.expanded .title-area, 
#header .top-bar-section ul, 
#header .top-bar-section ul li, 
#header .top-bar-section li a:not(.button) {
    background: none;
}

#header .contain-to-grid {
    padding-top: 22px;
    padding-bottom: 22px;
}

#header .contain-to-grid.sticky.fixed {
    background-color: #1f0844;
    background-color: rgba(31, 8, 68, 0.90);
    border-top: 3px solid #47ba73;
}

#header .top-bar ul li a:link,
#header .top-bar ul li a:visited {
    color: #fff;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9375rem; /* = 15px */
    text-decoration: none;
    text-transform: uppercase;
}

#header .top-bar ul li a:hover,
#header .top-bar ul li a:visited:hover {
    color: #47ba73;
    text-decoration: none;
}

#header .top-bar ul li.active a {
    border-bottom: 3px solid #47ba73;
}

#header .top-bar ul li a.callout {
    /* TODO: Implement the callout style */
    border: 2px solid #fff;
    padding: 8px 10px;
    text-align: center; 
}

#header .top-bar-section .has-dropdown > a:after {
    border-color: #fff transparent transparent;
}

#header .top-bar-section .dropdown {
    background-color: #1f0844;
    background-color: rgba(31, 8, 68, 0.90);
    border-bottom: 3px solid #47ba73;
}

#header .top-bar-section .dropdown li a:link, 
#header .top-bar-section .dropdown li a:visited {
    font-size: 0.875rem; /* = 14px */
    text-transform: none;
}

/* Twitter typeahead.js overrides */

#header .twitter-typeahead {
    display: block !important;
}

#header .twitter-typeahead .tt-dropdown-menu {
    background-color: #1f0844;
    background-color: rgba(31, 8, 68, 0.90);
    border-bottom: 3px solid #47ba73;
    width: 100%;
    z-index: 1000;
}

#header .twitter-typeahead .tt-dropdown-menu .tt-suggestions .tt-suggestion a:link, 
#header .twitter-typeahead .tt-dropdown-menu .tt-suggestions .tt-suggestion a:visited {
    color: #fff;
    padding: 0.1875rem 0.3125rem; /* = 3px 5px */
}

#header .twitter-typeahead .tt-dropdown-menu .tt-suggestions .tt-suggestion.tt-cursor {
    background-color: #47ba73;
}

/* Master-head */

#header #master-head {
    padding-top: 15px;
}

#header #master-head h1 {
    color: #fff;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.875rem; /* = 46px */
    font-weight: bold;
    font-weight: 600; /* Semi-bold */
    line-height: 1em;
    margin-bottom: 1.25rem;
}

#header #master-head h1 small {
    color: #fff;
    font-size: 2.25rem; /* = 36px */
    font-weight: normal;
    font-weight: 300; /* Light */
}

#header #master-head h1 + p {
    margin-top: -0.75rem; /* = -12px */
}

#header #master-head p {
    color: #fff;
}

#header #master-head .button {
    border: 2px solid #fff;
    color: #fff;
}

#header #master-head .label {
    background-color: #5d47ba;
}

#header #master-head .symbol {
    border: 5px solid #47ba73;
    float: left;
    margin-right: 1.25rem; /* = 20px */
    margin-bottom: 1.25rem; /* = 20px */
    height: 100px;
    width: 100px;
}

#header #master-head .symbol abbr {
    color: #fff;
    font-size: 2.1875rem; /* = 35px */
    font-style: italic;
    font-weight: bold;
    font-weight: 700; /* Bold */
}

#header #master-head .symbol + h1 {
    margin-top: 1.875rem; /* = 30px */
}

/* Master-head: Banner */

#header #master-head #banner {
    position: relative;
}

#header #master-head #banner .content {
    min-height: 600px;
}

#header #master-head #banner a:link,
#header #master-head #banner a:visited {
    color: #fff;
    text-decoration: none;
}

#header #master-head #banner a:hover,
#header #master-head #banner a:visited:hover {
    color: #fff;
    text-decoration: none;
}

#header #master-head #banner h1 {
    color: #fff;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.875rem; /* = 46px */
    font-weight: normal;
    font-weight: 300; /* Light */
    line-height: 1em;
}

#header #master-head #banner h1 strong {
    font-weight: bold;
    font-weight: 600; /* Semi-Bold */
}

/* Search */

#header #master-head .search {
    background: url(/assets/icons/search.png) 1.25rem 50% no-repeat rgba(71, 186, 115, 0.85);
    padding: 0.625rem 1.25rem 0.625rem 5rem; /* = 10px 20px 10px 80px */
}

#header #master-head #banner .search {
    margin: 2.5rem 0 1rem 0; /* = 40px 0 16px 0 */
}

#header #master-head .search input[type="text"] {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 1.125rem; /* = 18px */
    margin: 0;
    padding: 0;
}

#header #master-head #banner .search input[type="text"] {
    font-size: 1.5rem; /* = 24px */
}

/* Placeholder overrides for the search input */

#header #master-head .search input[type="text"]:--moz-placeholder {
    color: #fff;
    font-style: italic;
}

#header #master-head .search input[type="text"]:--ms-input-placeholder {
    color: #fff;
    font-style: italic;
}

#header #master-head .search input[type="text"]::--moz-placeholder {
    color: #fff;
    font-style: italic;
}

#header #master-head .search input[type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-style: italic;
}

/* Master-head: Partners */

#header #master-head #partners {
    background-color: #1f0844;
    clear: both;
    color: #fff;
}

#header #master-head #partners li {
    padding: 0;
}

/* Breadcrumbs */

#header #master-head .breadcrumbs {
    border: none;
    background-color: #1f0844;
    border-radius: 0;
}

#header #master-head .breadcrumbs > * {
    color: #fff;
    font-size: 0.75rem; /* = 12px */
}

#header #master-head .breadcrumbs > *:before, 
#header #master-head .breadcrumbs > * a:link, 
#header #master-head .breadcrumbs > * a:visited {
    color: #fff;
}

/* Inline-list */

#header #master-head .inline-list > li {
    margin-left: 0;
    margin-right: 1.375rem;
}

#header #master-head .inline-list li a:link, 
#header #master-head .inline-list li a:visited {
    color: #fff;
}

/* Toolbar */

#header #master-head .toolbar {
    background: transparent;
    clear: right;
    float: right;
    list-style: none;
    text-align: right;
}

#header #master-head .toolbar li {
    color: #fff;
    display: inline-block;
    font-size: 1rem; /* = 16px */
    margin-left: 10px;
}

#header #master-head .toolbar li:first-child, 
#header #master-head .toolbar li.first {
    margin-left: 0;
}

/* Content
---------------------------------------------------------------------------- */

#content {
    background-color: #fff;
}

#content a.more:link, 
#content a.more:visited {
    background: url(/assets/icons/more_arrow.png) 0 50% no-repeat transparent;
    padding-left: 0.5rem; /* = 8px */
}

#content pre {
    border-left: 3px solid #47ba73;
    margin-bottom: 1em;
    padding: 0.9375rem; /* = 15px */
    white-space: pre-wrap;
}

#content pre code {
    background-color: #fff;
    border: none;
    color: #999;
    display: block;
    font-size: 0.8125rem; /* = 13px */
    line-height: 1em;
    overflow: visible;
    padding: 0;
}

#content p code {
    background-color: #5d47ba;
    border: none;
    color: #fff;
    font-size: inherit;
}

#content h1, 
#content h2, 
#content h3 {
    color: #5d47ba;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1em;
    margin-bottom: 1em;
}

#content h1 {
    font-size: 2.25rem; /* = 36px */
    font-weight: normal;
    font-weight: 200; /* Extra-Light */
}

#content h2 {
    font-size: 1.25rem; /* = 20px */
    font-weight: normal;
}

#content h3 {
    font-size: 1.125rem; /* = 18px */
    font-weight: normal;
}

/* Definition list */

#content dl.data {
    clear: both;
    float: left;
    width: 100%;
}

#content dl.data dt, 
#content dl.data dd {
    font-size: 0.875rem; /* = 14px */
    margin-bottom: 0;
}

#content dl.data dt {
    clear: both;
    float: left;
    font-weight: bold;
    font-weight: 600; /* Semi-Bold */
    text-align: right;
    width: 25%;
}

#content dl.data dd {
    float: right;
    width: 70%;
}

/* Content sidebar */

#content aside {
    border-left: 2px solid #f5f5f5;
    padding-bottom: 15px;
}

#content aside h3 {
    font-size: 1.125rem; /* = 18px */
    font-weight: normal;
}

#content aside p {
    font-size: 0.8125rem; /* = 13px */
}

#content section {
    border-top: 3px solid #47ba73;
    padding-top: 35px;
    padding-bottom: 35px;
}

#content section:first-of-type, 
#content section.first {
    border-top: none;
}

#content section:last-child, 
#content section.last {
    padding-bottom: 70px;
}

/* Content pagination */

#content ul.pagination {
    margin-top: 15px;
}

#content ul.pagination li {
    margin: 0;
}

#content ul.pagination li, 
#content ul.pagination li.disabled {
    color: #999;
}

#content ul.pagination li.disabled {
    padding: 0.0625rem 0.625rem 0.0625rem;
}

#content ul.pagination li.active {
    background-color: #47ba73;
    border-radius: 3px;
    color: #fff;
    padding: 0.0625rem 0.625rem 0.0625rem;
}

#content ul.pagination li a, 
#content ul.pagination li button {
    background: none;
    color: #5d47ba;
    padding: 0.0625rem 0.625rem 0.0625rem;
}

#content ul.pagination li a:hover {
    background-color: #5d47ba;
    color: #fff;
    text-decoration: none;
}

/* Content table */

#content table {
    border: 1px solid #f5f5f5;
    width: 100%;
}

#content table thead {
    background-color: #1f0844;
}

#content table thead tr th, 
#content table thead tr td {
    color: #fff;
}

#content table tr th, 
#content table tr td {
    color: #999;
}

#content table tr.even, 
#content table tr.alt, 
#content table tr:nth-of-type(even) {
    background-color: #f5f5f5;
}

#content table tr:hover {
    background-color: #5d47ba;
}

#content table tr:hover th, 
#content table tr:hover td, 
#content table tr:hover th a:link, 
#content table tr:hover th a:visited, 
#content table tr:hover td a:link, 
#content table tr:hover td a:visited {
    color: #fff;
}

#content .button.data-format {
    background-color: #5d47ba;
    border: none;
    color: #fff;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem; /* = 14px */
    margin-right: 0.625rem; /* = 10px */
    margin-bottom: 0;
    padding: 0.625rem; /* = 10px */
    text-transform: uppercase;
}

#content .button.data-format:hover {
    background-color: #47ba73;
    text-decoration: none;
}

#content .card {
    background-color: #f5f5f5;
    padding: 0.9375rem; /* = 15px */
}

/* Content icons */

#content .icon {
    background-color: transparent;
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 35px;
}

#content .icon.small {
    padding-left: 22px;
}

#content .icon.calendar {
    background-image: url(/assets/icons/calendar.png);
}

#content .icon.info.small {
    background-image: url(/assets/icons/info_small.png);
}

#content .icon.history, 
#content .icon.latest, 
#content .icon.revisions {
    background-image: url(/assets/icons/history.png);
}

#content .icon.most-popular {
    background-image: url(/assets/icons/most_popular.png);
}

#content .icon.most-used {
    background-image: url(/assets/icons/most_used.png);
}

#content .icon.similar-tools {
    background-image: url(/assets/icons/similar_tools.png);
}

#content .information {
    display: block;
    font-size: 0.75rem; /* = 12px */
}

/* Tool symbol & tool (listing) */

#content .symbol:hover, 
#content .symbol:visited:hover {
    background-color: #5d47ba;
    color: #fff;
    text-decoration: none;
}

#content .symbol:hover abbr, 
#content .symbol:visited:hover abbr {
    color: #fff;
}

#content .symbol.large {
    background-color: #5d47ba;
    border: none;
    color: #fff;
}

#content .symbol.large abbr {
    color: #fff;
    font-size: 2.625rem; /* = 42px */
}

#content .symbol.large:hover, 
#content .symbol.large:visited:hover {
    background-color: #47ba73;
}

/* Content accordion */

#content .accordion {
    clear: both;
    margin-bottom: 1.5625rem; /* = 25px */
}

#content .accordion .accordion-navigation > a, 
#content .accordion dd > a {
    background-color: #f5f5f5;
    border-bottom: 3px solid #47ba73;
    color: #5d47ba;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content .accordion .accordion-navigation.active > a, 
#content .accordion .accordion-navigation > a:hover, 
#content .accordion .accordion-navigation > a:visited:hover {
    background-color: #47ba73;
    border-bottom: none;
    color: #fff;
    text-decoration: none;
}

#content .accordion .accordion-navigation.active {
    border-bottom: 3px solid #47ba73;
}

/* Content tabs (Data Sources etc.) */

#content .tabs {
    background-color: #47ba73;
    color: #fff;
    padding-top: 10px;
}

#content .tabs dd {
    margin-left: 10px;
}

#content .tabs dd > a {
    background: none;
    border-left: 2px solid #fff;
    color: #fff;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9375rem; /* = 15px */
    font-weight: bold;
    font-weight: 700; /* Bold */
    line-height: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

#content .tabs dd:first-child > a {
    border-left: none;
}

#content .tabs dd > a:hover, 
#content .tabs .active a:link, 
#content .tabs .active a:visited {
    background-color: #fff;
    border-left: none;
    color: #5d47ba;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    text-decoration: none;
}

#content .tabs dd > a.dropdown, 
#content .tabs .active a.dropdown:link, 
#content .tabs .active a.dropdown:visited {
    position: relative;
    padding-right: 2.1875rem; /* = 35px */
}

#content .tabs dd > a.dropdown::after {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 0.375rem;
    content: "";
    display: block;
    height: 0;
    margin-top: -0.15625rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 0;
}

#content .tabs dd > a.dropdown:hover::after, 
#content .tabs .active a.dropdown::after {
    border-color: #5d47ba transparent transparent transparent;
}

#content .tabs .source {
    display: block;
    font-size: 0.75rem; /* = 12px */
    font-weight: normal;
}

#content .tabs-content {
    padding: 20px 20px 0 20px;
}

#content .tool {
    margin-bottom: 0.9375rem; /* = 15px */
}

#content .tool:last-child, 
#content .tool.last {
    margin-bottom: 0;
}

#content .tool h1 {
    font-size: 0.875rem; /* = 14px */
    font-weight: bold;
    font-weight: 600; /* Semi-Bold */
    margin: 0;
    line-height: 1rem;
}

#content .tool p {
    font-size: 0.75rem; /* = 12px */
    line-height: 1rem;
    margin: 0;
}

/* Search Results */

/* TODO: Change the "namespace" for the search results (from filter to search?) */

#content #filter li {
    line-height: 1em;
    margin-bottom: 0.1875rem; /* = 3px */
}

#content #filter p {
    font-size: 0.8125rem; /* = 13px */
}

#content #filter .label {
    background-color: #5d47ba;
    color: #fff;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content #filter .selected, 
#content #filter .selected a:link, 
#content #filter .selected a:visited {
    color: #47ba73;
    font-weight: bold;
    font-weight: 600; /* Semi-Bold */
}

#content #filter .selected .label {
    background-color: #47ba73;
    color: #fff;
}

/* Dialog (overrides relative content styling)
---------------------------------------------------------------------------- */

body.dialog {
    background-color: #f5f5f5;
    color: #1f0844;
}

body.dialog a:link,
body.dialog a:visited {
    color: #1f0844;
    font-weight: bold;
    font-weight: 600; /* Semi-Bold */
    text-decoration: none;
}

body.dialog a:hover,
body.dialog a:visited:hover {
    color: #47ba73;
    text-decoration: none;
}

body.dialog #header {
    background: none;
}

body.dialog #header #logo {
    float: left;
    font-size: 1rem; /* = 16px */
    margin: 20px;
}

body.dialog #header .cancel, 
body.dialog #header .close {
    float: right;
    font-size: 0.9375rem; /* = 15px */
    margin: 20px;
    text-transform: uppercase;
}

body.dialog #header .cancel .glyphicons, 
body.dialog #header .close .glyphicons {
    font-size: 1.875rem; /* = 30px */
}

body.dialog #content {
    background: none;
    margin-top: 150px;
}

body.dialog #content h1, 
body.dialog #content h2, 
body.dialog #content h3 {
    color: #1f0844;
    margin-bottom: 0;
}

body.dialog #content h1 {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}

body.dialog #content form input[type="text"], 
body.dialog #content form input[type="password"] {
    background-color: #e5e5e5;
    border: none;
    box-shadow: none;
    color: #1f0844;
    font-size: 0.875rem; /* = 14px */
}

body.dialog #content form input[type="submit"] {
    float: right;
}

body.dialog #content form select {
    background-color: #e5e5e5;
    border: none;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1f0844;
}

/* Content tabs (dialog navigation) */

body.dialog #content .tabs {
    background: url(/assets/dialog_tabs_bg.png) 0 50% repeat-x transparent;
    color: #1f0844;
    padding :0;
}

@media only screen and (max-width: 640px) {

    body.dialog #content .tabs {
        background: none;
    }
}

body.dialog #content .tabs dd {
    margin-left: 0;
    margin-right: 20px;
    padding-top: 22px;
    padding-right: 50px;
}

body.dialog #content .tabs dd:last-child {
    margin: 0;
    padding-right: 0;
}

body.dialog #content .tabs dd > a {
    background-color: #f5f5f5;
    border: none;
    color: #1f0844;
    font-size: 0.875rem; /* = 14px */
    font-weight: bold;
    font-weight: 600; /* Semi-Bold */
    margin: 0;
    padding: 0 15px;
}

body.dialog #content .tabs dd:first-child > a {
    padding-left: 0 !important;
}

@media only screen and (max-width: 640px) {

    body.dialog #content .tabs dd > a {
        padding-left: 0 !important;
    }
}

body.dialog #content .tabs dd a:link span {
    /* Use CSS3 Flexbox to vertically align the content */
        -ms-flex-align: center;
        -moz-box-align: center; /* Old syntax */
        -webkit-box-align: center; /* Old syntax */
        -webkit-align-items: center;
    align-items: center;
    background-color: transparent;
        -ms-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-border-radius: 50%;
    border: 3px solid #1f0844;
    border-radius: 50%;
        display: -ms-flexbox; /* Old syntax */
        display: -ms-flex;
        display: -moz-box; /* Old syntax */
        display: -moz-flex;
        display: -webkit-box; /* Old syntax */
        display: -webkit-flex;
    color: #1f0844;
    display: flex;
    float: left;
    font-size: 1.5rem; /* = 24px */
    font-weight: bold;
    height: 51px;
    line-height: 1em;
    margin-top: -14px;
    margin-right: 15px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 51px;
}

body.dialog #content .tabs dd a:hover span, 
body.dialog #content .tabs .active a:link span, 
body.dialog #content .tabs .completed a:link span {
    background-color: #47ba73;
    border: 3px solid #47ba73;
    color: #fff;
}

body.dialog #content .tabs dd > a:hover, 
body.dialog #content .tabs .active a:link, 
body.dialog #content .tabs .active a:visited,
body.dialog #content .tabs .completed a:link, 
body.dialog #content .tabs .completed a:visited {
    background-color: #f5f5f5;
    color: #47ba73;
    margin: 0;
    padding: 0 15px;
}

body.dialog #content .tabs-content, 
body.dialog #content .tabs-content .content {
    padding: 0;
}

body.dialog #content aside {
    border-left: 1px solid #e5e5e5;
    padding-top: 50px;
    padding-bottom: 25px;
}

body.dialog #content .services {
    text-align: center;
}

body.dialog #content .services a:link,
body.dialog #content .services a:visited {
    font-weight: normal;
}

body.dialog #content .services h2 {
    font-size: 1.125rem; /* = 18px */
    margin-top: 15px;
}

body.dialog #content .services .service {
    clear: both;
    color: #fff;
    display: block;
    margin: 0 auto;
    height: 120px;
    text-indent: -9999px;
    width: 120px;
}

body.dialog #content .services .teresah {
    background: url(/assets/services/teresah.png) 50% 50% no-repeat #47ba73;
}

body.dialog #content .services .facebook {
    background: url(/assets/services/facebook.png) 50% 50% no-repeat #3b5999;
}

body.dialog #content .services .google {
    background: url(/assets/services/google.png) 50% 50% no-repeat #dd4b39;
}

body.dialog #content .services .linkedin {
    background: url(/assets/services/linkedin.png) 50% 50% no-repeat #007bb6;
}

/* Footer
---------------------------------------------------------------------------- */

#footer {
    color: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
}

#footer h1 {
    color: #fff;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem; /* = 13px */
    font-weight: bold;
    font-weight: 600; /* Semi-Bold */
    line-height: 1em;
    text-transform: uppercase;
}

#footer p, 
#footer ul {
    font-size: 0.75rem; /* = 12px */
}

#footer a:link,
#footer a:visited {
    color: #fff;
    text-decoration: none;
}

#footer a:hover,
#footer a:visited:hover {
    color: #fff;
    text-decoration: underline;
}

#footer .creative-commons {
    clear: both;
    list-style: none;
    margin: 0 0 1rem 0;
}

#footer .creative-commons li {
    display: inline-block;
    margin-right: 7px;
}

/* Navigation */

#footer nav ul {
    list-style-image: url(/assets/icons/footer_arrow.png);
}
