/* TERESAH screen styles
---------------------------------------------------------------------------- */

/* Global definitions
---------------------------------------------------------------------------- */

body {
    background-color: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    position: relative;
}

a:link,
a:visited {
    color: #428bca;
    outline: none;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: #2a6496;
    text-decoration: underline;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/* Header
---------------------------------------------------------------------------- */

#header .message {
    padding: 15px;
    text-align: center;
}

#header .message.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

#header .message p {
    margin: 0;
}

/* Content
---------------------------------------------------------------------------- */

#content {
  margin-bottom: 50px;
}

#content #cloud {
    height: 350px;
    margin: 0 auto;
    text-align: center;
    width: 850px;
}

#content .jumbotron {
    text-align: center;
}

#content .jumbotron h1 {
    font-size: 30px;
}

#content .jumbotron p {
    font-size: 15px;
}

/* Footer
---------------------------------------------------------------------------- */

#footer {
    background-color: #222;
    border-color: #080808;
    bottom: 0;
    padding: 5px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 200;
}
