/* TERESAH screen styles
---------------------------------------------------------------------------- */

/* Global definitions
---------------------------------------------------------------------------- */

body {
    background-color: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    position: relative;
}

a:link,
a:visited {
    color: #428bca;
    outline: none;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: #2a6496;
    text-decoration: underline;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/* Header
---------------------------------------------------------------------------- */

#header .message {
    padding: 15px;
    position: relative;
    text-align: center;
}

#header .message.alert-dismissible {
    padding-right: 35px;
}

#header .message.info {
    background-color: #d9edf7;
    color: #31708f;
}

#header .message.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

#header .message p {
    margin: 0;
}

/* Navbar
---------------------------------------------------------------------------- */
#header .navbar-nav a{
    cursor: pointer;
}

/* Content
---------------------------------------------------------------------------- */

#content {
  margin-bottom: 50px;
}

#content #cloud {
    height: 350px;
    margin: 0 auto;
    text-align: center;
    width: 850px;
}

#content .jumbotron {
    text-align: center;
}

#content .jumbotron h1 {
    font-size: 30px;
}

#content .jumbotron p {
    font-size: 15px;
}

#content .information {
    color: #aaa;
    display: block;
    font-size: 12px;
}

#content .nav.nav-tabs.data-sources a:link, 
#content .nav.nav-tabs.data-sources a:visited {
    font-weight: bold;
    text-align: left;
}

#content .nav.nav-tabs.data-sources a span.source {
    display: block;
    font-size: 12px;
    font-weight: normal;
}

#content .nav.nav-tabs.data-sources .dropdown-menu a:link, 
#content .nav.nav-tabs.data-sources .dropdown-menu a:visited {
    font-weight: normal;
}

#content .tab-content {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 15px;
}

#content .tab-content .tab-pane .tab-content  {
    border: none;
}

#content dl dt {
    margin-top: 10px;
}

#content dl dt:first-child {
    margin-top: 0;
}

#content .symbol {
    /* Use CSS3 Flexbox to vertically align the content */
        -ms-flex-align: center;
        -moz-box-align: center; /* Old syntax */
        -webkit-box-align: center; /* Old syntax */
        -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
        -ms-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-border-radius: 50%;
    border: 3px solid #428bca;
    border-radius: 50%;
        display: -ms-flexbox; /* Old syntax */
        display: -ms-flex;
        display: -moz-box; /* Old syntax */
        display: -moz-flex;
        display: -webkit-box; /* Old syntax */
        display: -webkit-flex;
    color: #428bca;
    display: flex;
    height: 48px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 48px;
}

#content .symbol:hover, 
#content .symbol:visited:hover {
    background-color: #428bca;
    color: #fff;
    text-decoration: none;
}

#content .symbol abbr {
    border: none;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#content article header {
    margin-bottom: 25px;
}

#content article header .symbol {
    float: left;
    margin: 0 15px 0 0;
}

#content .listing article {
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content .listing article:first-child {
    border: none;
}

/* Footer
---------------------------------------------------------------------------- */

#footer {
    background-color: #222;
    border-color: #080808;
    bottom: 0;
    padding: 5px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 200;
}

/* Share
---------------------------------------------------------------------------- */

#share {
    float: right;
    margin-top: 10px;
}


/* Typehead
---------------------------------------------------------------------------- */
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
  cursor: pointer;
}

span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}