<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a href="#/facet">Browse by facet</a></li>
  <li><a href="#/facet/{{results.facet.facet.facetParam}}" ng-bind="results.facet.facet.facetLegend"></a></li>
  <li><a href="#/facet/{{results.facet.facet.facetParam}}/{{results.facet.identifier}}" ng-bind="results.facet.name || results.facet.keyword"></a></li>
</ol>

<section id="viewHeader">
	<div class="page-header">
		<h1><span ng-bind="results.facet.name || results.facet.keyword"></span> <small ng-bind="'Browse by ' + results.facet.facet.facetLegend"></small></h1>
		
		<section ng-show="results.facet.provider">
			<dl class="dl-horizontal">
				<dt>Taxonomy</dt>
				<dd ng-bind="results.facet.provider.taxonomy"></dd>
				<dt>Source</dt>
				<dd ><a ng-href="results.facet.provider.uri" target="_blank" ng-bind="results.facet.provider.uri"></a></dd>
			</dl>
		</section>
		
		<section ng-show="results.facet.uri">
			<dl class="dl-horizontal">
				<dt>Source</dt>
				<dd ><a ng-href="results.facet.uri" target="_blank" ng-bind="results.facet.uri"></a></dd>
			</dl>
		</section>
		
		<section ng-show="results.facet.type">
			<dl class="dl-horizontal">
				<dt>Type</dt>
				<dd ng-bind="results.facet.type"></dd>
			</dl>
		</section>
		
		<section ng-show="results.facet.contact">
			<dl class="dl-horizontal">
				<dt>Contact</dt>
				<dd ng-bind="results.facet.contact"></dd>
			</dl>
		</section>
		
		
		<p>Tools from {{ui.parameters.start + 1}} to {{ui.parameters.limit + ui.parameters.start}} on {{ui.parameters.total}} available</p>
		
	</div>
</section>
<section id="viewContent" ng-show="results.items">
	<div class="row">
		<pagination total-items="ui.parameters.total" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
	</div>


	<div class="row" ng-repeat="item in results.items">
		<div class="media col-lg-12" >
			<a class="pull-left" href="#/tool/{{item.identifiers.shortname}}">
				<img class="media-object" ng-src="./assets/img/{{item.applicationType}}.png" height="64" width="64" alt="{{item.applicationType}}">
			</a>
			<div class="media-body">
				<h4 class="media-heading"><a href="#/tool/{{item.identifiers.shortname}}">{{item.title}}</a></h4>
				<span class="label label-default">{{item.description.provider}}</span> {{item.description.text}}
			</div>
		</div>
	</div>
	<div class="row">
		<pagination total-items="ui.parameters.total" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
	</div>
</section>