<section id="results">
	<div class="row" ng-repeat="item in items" ng-show="item.title">
		<div class="row item" ng-class="{'no-desc' : !item.description.text}">
			<div class="col-lg-1 ">
				<div class="container-font big-font">
					<a ng-href="#/tool/{{item.identifiers.shortname}}" style="display:block; width:100%; height:100%;"><span class="fontello-{{item.applicationType}}"></span></a>
				</div>
			</div>
			<div class="col-lg-11">
				<h4><a ng-href="#/tool/{{item.identifiers.shortname}}" ng-bind="item.title"></a> <span class="pull-right"><small><em ng-bind="item.description.provider"></em></small></span></h4>
				<p ng-bind="item.description.text"></p>
				<hr />
			</div>
			
		</div>
	</div>
</section>