<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a href="#/facet">Browse by facet</a></li>
  <li><a ng-href="#/facet/{{results.facet.facetParam}}" ng-bind="results.facet.facetLegend"></a></li>
</ol>

<section id="viewHeader">
	<div class="page-header">
		<h1><span ng-bind="results.facet.facetLegend"></span> <small>Browse facets</small></h1>		
		
		<p>Facet's elements from <span ng-bind="ui.parameters.start + 1"></span> to <span ng-bind="ui.parameters.limit + ui.parameters.start"></span> on <span ng-bind="results.facet.facetTotal"></span> available</p>
	</div>
</section>
<section id="viewContent" ng-show="results.items">
	<div class="row no-desc" ng-repeat="item in results.items">
		<div class="row" >
			<div class="col-lg-12">
				<em><a ng-href="#/facet/{{results.facet.facetParam}}/{{item.id}}" ng-bind="item.name"></a></em>
				<hr style="margin:5px;"/>
			</div>
		</div>
	</div>
	<div class="row">
		<pagination total-items="results.facet.facetTotal" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
	</div>
</section>