<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a href="#/facet">Browse by facet</a></li>
</ol>

<section id="viewHeader">
	<div class="page-header">
		<h1>Browse facets</h1>		
	</div>
</section>
<section id="viewContent" ng-show="results.items">

	<ul class="list-inline">
		<li class="col-lg-3" ng-repeat="item in results.items" style="text-align:center; margin-bottom:30px;">
			<a class="btn btn-lg btn-primary" ng-href="#/facet/{{item.facetParam}}"><span  ng-bind="item.facetLegend"></span> <span class="badge" ng-bind="item.facetTotal"></span></a>
		</li>
	</ul>

</section>