<form>
	<div class="row">
		<div class="col-lg-3" id="facetList">
			<div class="list-group">
				<a class="list-group-item" ng-repeat="facet in ui.facets.facets" ng-class="{'active' : facet.active }">
					<h4 ng-click="facet.active = !facet.active;" class="list-group-item-heading"><span class="badge pull-right">{{facet.facetTotal}}</span>{{facet.facetLegend}}</h4>
					<p class="list-group-item-text"><span ng-repeat="option in ui.facets.used[facet.facetParam].possibilities | filter:{active:true}" class="badge" ng-click="ui.facets.del(facet.facetParam, option.id)">{{option.name}}</span></p>
				</a>
			</div>
			<p></p>
			<button ng-click="ui.facets.submit()" class="btn btn-primary btn-lg btn-block">Search</button>
			
		</div>
		<div class="col-lg-9">
			<div class="container">
				<div class="row">
						<ul class="list-inline">
							<li ng-repeat="facet in ui.facets.facets | filter:{active:true}" class="col-lg-3">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">{{facet.facetLegend}}</h3>
									</div>
									<div class="panel-body">
										<div class="btn-group btn-group-sm" style="margin-bottom:5px;">
											<a class="btn btn-default" ng-class="{'active' : !facet.option.case_insensitivity}" ng-click="facet.option.case_insensitivity = !facet.option.case_insensitivity; facet.possibilities = ui.facets.search(facet);">Case Sens.</a>
										</div>
										
										<input type="text" class="form-control" ng-model="facet.filter" placeholder="Filter your {{facet.facetLegend}}" ng-change="facet.possibilities = ui.facets.search(facet)"/>
										<div style="max-height:200px; overflow:auto;">
											<div class="checkbox" ng-repeat="keyword in facet.possibilities.facets" ng-click="ui.facets.select(facet, keyword)">
												<label>
													<input type="checkbox" id="{{facet.facetParam}}-{{keyword.id}}" ng-model="keyword.active" value="{{keyword.id}}" /> {{keyword.name}}
												</label>
											</div>
										</div>
									</div>
								</div>
								
							</li>
						</ul>
				</div>
				<section id="errors" ng-show="!results && ui.facets.error">
					<div class="alert alert-warning">{{ui.facets.error}}</div>
				</section>
				<section id="results" ng-show="results">
					<div class="row">
						<pagination total-items="ui.pages.totalItem" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
					</div>
					<div class="row" ng-repeat="item in results.items">
						<div class="media col-lg-12" >
							<a class="pull-left" href="#">
								<img class="media-object" src="./assets/img/computer.png" alt="a">
							</a>
							<div class="media-body">
								<h4 class="media-heading"><a href="#/tool/{{item.identifiers.shortname}}">{{item.title}}</a></h4>
								<span class="label label-default">{{item.description.provider}}</span> {{item.description.text}}
							</div>
						</div>
					</div>
					<div class="row">
						<pagination total-items="ui.pages.totalItem" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
					</div>
				</section>
			</div>
		</div>
	</div>
</form>