

  <div class="container">
	<h1>Welcome on DASISH Tool Registry</h1>
    <!--<p style="text-align:right;"><img src="../API/pie/descriptions/Default" height="300" /></p>-->
  </div>

<div class="row">
	<p>Tools from {{ui.parameters.start + 1}} to {{ui.parameters.limit + ui.parameters.start}} on {{ui.parameters.total}} available</p>
</div>

<hr />

<div class="row" ng-repeat="item in results.items">
	<div class="row item" >
		<div class="col-lg-1 ">
			<div class="container-font big-font">
				<span class="fontello-{{item.applicationType}}"></span>
			</div>
		</div>
		<div class="col-lg-11">
			<h4><a ng-href="#/tool/{{item.identifiers.shortname}}" ng-bind="item.title"></a> <span class="pull-right"><small><em ng-bind="item.description.provider"></em></small></span></h4>
			<p ng-bind="item.description.text"></p>
			<hr />
		</div>
		
	</div>
</div>
<div class="row">
    <pagination total-items="ui.parameters.total" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
</div>