<section id="viewHeader">
	<div class="page-header">
		<div class="pull-right">
			<div class="btn-group btn-group-sm">
				<a class="btn btn-sm btn-default" ng-click="ui.page = 'Details'" ng-class="{'btn-primary': (ui.page == 'Details')}">Details</a>
				<a class="btn btn-sm btn-default" ng-href="#/link/{{item.identifier.id}}" ng-show="ui.user.data.signedin">Add a label</a>
				<a class="btn btn-sm btn-default" ng-click="ui.page = 'Forum&Comments'" ng-class="{'btn-primary': (ui.page == 'Forum&Comments')}">Forum</a>
			</div>
		</div>
		<h1 ng-bind="item.descriptions.title"></h1>
	</div>
</section>

<section ng-show="ui.page == 'Details'">
<div class="row">

	<div class="col-lg-8">
		<div class="row">
			<section class="col-lg-12" id="descrition">
				<h2 ng-bind="item.desc.provider"></h2>
				<p>Source : <a ng-href="{{item.desc.uri}}" ng-bind="item.desc.uri"></a></p>
				<p ng-bind-html="item.desc.text | newline"></p>
				<hr />
			</section>
			<div class="col-lg-12">
				<section id="keywords"  ng-show="item.keyword[0] && !(ui.sections.list['Keywords'])">
					<h2>Keywords
						<div class="pull-right">
							<span class="btn btn-default" ng-click="ui.sections.toggle('Keywords')"><span class="glyphicon glyphicon-eye-close"></span></span>
							<span class="dropdown">
								<span class="dropdown-toggle btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</span>
								<ul class="dropdown-menu">
									<li><a ng-click="ui.keywords.provider.show = !ui.keywords.provider.show">Providers</a></li>
									<li><a ng-click="ui.keywords.taxonomy.show = !ui.keywords.taxonomy.show">Taxonomies</a></li>
									<li><a ng-click="ui.keywords.show = !ui.keywords.show">Hide/Show</a></li>
								</ul>
							</span>
						</div>
					</h2>
					<div class="btn-group btn-block  btn-group-justified" ng-show="ui.keywords.provider.show">
						<a class="btn" ng-click="ui.keywords.provider.selected = null" ng-class="{'btn-primary': (!ui.keywords.provider.selected), 'btn-success' : ui.keywords.provider.selected}">All Providers</a>
						<a class="btn" ng-repeat="prov in item.keyword | kProviders" ng-click="ui.keywords.provider.selected = prov" ng-class="{'btn-primary': (ui.keywords.provider.selected == prov), 'btn-success' : (ui.keywords.provider.selected != prov)}" ng-bind="prov"></a>
					</div>
					<div class="btn-group btn-group-sm btn-block  btn-group-justified" ng-show="ui.keywords.taxonomy.show">
						<a class="btn" ng-click="ui.keywords.taxonomy.selected = null" ng-class="{'btn-primary': (!ui.keywords.taxonomy.selected), 'btn-success' : ui.keywords.taxonomy.selected}">All Taxonomies</a>
						<a class="btn" ng-repeat="prov in item.keyword | kTaxonomies" ng-click="ui.keywords.taxonomy.selected = prov" ng-class="{'btn-primary': (ui.keywords.taxonomy.selected == prov), 'btn-success' : (ui.keywords.taxonomy.selected != prov)}" ng-bind="prov" style="text-transform:capitalize;"></a>
					</div>
					<ul  class="list-inline" style="margin-top:10px;" ng-show="ui.keywords.show">
						<li ng-repeat="kw in item.keyword |filter:{provider.domain : ui.keywords.provider.selected, provider.taxonomy : ui.keywords.taxonomy.selected}" ng-bind="kw.keyword" class="badge" style="margin-right:10px; margin-bottom:5px; text-transform:capitalize;"  ></li>
					</ul>
					<hr />
				</section>
				<section id="publications"  ng-show="item.publications[0] && !(ui.sections.list['Publications'])">
					<h2>Publications
						<div class="pull-right">
							<span class="btn btn-default" ng-click="ui.sections.toggle('Publications')"><span class="glyphicon glyphicon-eye-close"></span></span>
							<span class="dropdown">
								<span class="dropdown-toggle btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</span>
								<ul class="dropdown-menu">
									<li><a ng-click="ui.publications.filter.show = !ui.publications.filter.show">Filter</a></li>
									<li><a ng-click="ui.publications.show = !ui.publications.show">Hide/Show</a></li>
								</ul>
							</span>
						</div>
					</h2>
					<div class="btn-group btn-group-sm btn-block  btn-group-justified" ng-show="ui.publications.filter.show">
						<input class="form-control" type="text" ng-model="ui.publications.filter.input" placeholder="Filter the publications" />
					</div>
					<div style="margin-top:10px;" ng-show="ui.publications.show">
						<p ng-repeat="pub in item.publications |filter:ui.publications.filter.input" ng-bind="pub.name"></p>
					</div>
					<hr />
				</section>
				<section id="projects" ng-show="item.projects[0] && !(ui.sections.list['Projects'])">
					<h2>Projects
						<div class="pull-right">
							<span class="btn btn-default" ng-click="ui.sections.toggle('Projects')"><span class="glyphicon glyphicon-eye-close"></span></span>
							<span class="dropdown">
								<span class="dropdown-toggle btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</span>
								<ul class="dropdown-menu">
									<li><a ng-click="ui.projects.filter.show = !ui.projects.filter.show">Filter</a></li>
									<li><a ng-click="ui.projects.show = !ui.projects.show">Hide/Show</a></li>
								</ul>
							</span>
						</div>
					</h2>
					<div class="btn-group btn-group-sm btn-block  btn-group-justified" ng-show="ui.projects.filter.show">
						<input class="form-control" type="text" ng-model="ui.projects.filter.input" placeholder="Filter the projects" />
					</div>
					<div style="margin-top:10px;" ng-show="ui.projects.show">
						<div ng-repeat="pub in item.projects |filter:ui.projects.filter.input">
							<h5 ng-bind="pub.name"></h5>
							<p><small  ng-bind="pub.informations.description"></small> <small>Contact : <a ng-href="mailto:{{pub.informations.contact}}" ng-bind="pub.informations.contact"></a></small></p>
							
						</div>
					</div>
					<hr />
				</section>
				<section id="projects" ng-show="item.features[0] && !(ui.sections.list['Features'])">
					<h2>Features
						<div class="pull-right">
							<span class="btn btn-default" ng-click="ui.sections.toggle('Features')"><span class="glyphicon glyphicon-eye-close"></span></span>
							<span class="dropdown">
								<span class="dropdown-toggle btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</span>
								<ul class="dropdown-menu">
									<li><a ng-click="ui.features.filter.show = !ui.features.filter.show">Filter</a></li>
									<li><a ng-click="ui.features.show = !ui.features.show">Hide/Show</a></li>
								</ul>
							</span>
						</div>
					</h2>
					<div class="btn-group btn-group-sm btn-block  btn-group-justified" ng-show="ui.features.filter.show">
						<input class="form-control" type="text" ng-model="ui.features.filter.input" placeholder="Filter the features" />
					</div>
					<div style="margin-top:10px;" ng-show="ui.features.show">
						<ul ng-repeat="pub in item.features |filter:ui.features.filter.input">
							<li><em ng-bind="pub.name"></em>
								<p><small ng-bind="pub.informations.description"></small></p>
							</li>
						</ul>
					</div>
					<hr />
				</section>
				<section id="standards" ng-show="item.standards[0] && !(ui.sections.list['Standards'])">
					<h2>Standards
						<div class="pull-right">
							<span class="btn btn-default" ng-click="ui.sections.toggle('Standards')"><span class="glyphicon glyphicon-eye-close"></span></span>
							<span class="dropdown">
								<span class="dropdown-toggle btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</span>
								<ul class="dropdown-menu">
									<li><a ng-click="ui.standards.filter.show = !ui.standards.filter.show">Filter</a></li>
									<li><a ng-click="ui.standards.show = !ui.standards.show">Hide/Show</a></li>
								</ul>
							</span>
						</div>
					</h2>
					<div class="btn-group btn-group-sm btn-block  btn-group-justified" ng-show="ui.standards.filter.show">
						<input class="form-control" type="text" ng-model="ui.standards.filter.input" placeholder="Filter the standards" />
					</div>
					<div style="margin-top:10px;" ng-show="ui.standards.show">
						<ul ng-repeat="std in item.standards |filter:ui.standards.filter.input">
							<li><a ng-href="{{std.informations.source}}"><em ng-bind="std.name"></em> ( <span ng-bind="std.informations.version"></span> )</a></li>
						</ul>
					</div>
					<hr />
				</section>
				<section id="videos" ng-show="item.videos[0] && !(ui.sections.list['Videos'])">
					<h2>Video
						<div class="pull-right">
							<span class="btn btn-default" ng-click="ui.sections.toggle('Videos')"><span class="glyphicon glyphicon-eye-close"></span></span>
							<span class="dropdown">
								<span class="dropdown-toggle btn btn-default">
									<span class="glyphicon glyphicon-cog"></span>
								</span>
								<ul class="dropdown-menu">
									<li><a ng-click="ui.videos.provider.show = !ui.videos.provider.show">Providers</a></li>
									<li><a ng-click="ui.videos.filter.show = !ui.videos.filter.show">Filter</a></li>
									<li><a ng-click="ui.videos.show = !ui.videos.show">Hide/Show</a></li>
								</ul>
							</span>
						</div>
					</h2>
					<div class="btn-group btn-block  btn-group-justified" ng-show="ui.videos.provider.show">
						<a class="btn" ng-click="ui.videos.provider.selected = null" ng-class="{'btn-primary': (!ui.videos.provider.selected), 'btn-success' : ui.videos.provider.selected}">All Providers</a>
						<a class="btn" ng-repeat="prov in item.videos | vProviders" ng-click="ui.videos.provider.selected = prov; console.log(prov)" ng-class="{'btn-primary': (ui.videos.provider.selected == prov), 'btn-success' : (ui.videos.provider.selected != prov)}" ng-bind="prov"></a>
					</div>
					<div class="btn-group btn-group-sm btn-block  btn-group-justified" ng-show="ui.videos.filter.show">
						<input class="form-control" type="text" ng-model="ui.videos.filter.input" placeholder="Filter the standards" />
					</div>
					<div style="margin-top:10px;" ng-show="ui.videos.show">
						<div class="row">
							<div class="col-md-4" ng-repeat="video in item.videos | filter:ui.videos.filter.input | videoFormater | filter:{informations.provider : ui.videos.provider.selected}">
								<h5 ng-bind="video.name"></h5>
								<div class="flex-video widescreen"><iframe ng-src="{{video.embed}}" frameborder="0" allowfullscreen=""></iframe></div>
							</div>
						</div>
					</div>
					<hr />
				</section>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<section id ="informations">
			<h2>Details</h2>
			<dl>
				<dt ng-show="item.type">Tool Type</dt>
					<dd ng-repeat="type in item.type" legend="{{type.uri}}" ng-bind="type.type"></dd>
				<dt ng-show="item.licence">Licence</dt>
					<dd ng-repeat="licence in item.licence" ng-bind="licence.name"></dd>
				<dt ng-show="item.licence">Licence Type</dt>
					<dd ng-repeat="licence in item.licence" ng-bind="licence.type"></dd>
				<dt ng-show="item.suite">Suite</dt>
					<dd ng-repeat="suite in item.suite" ng-bind="suite.name"></dd>
				<dt ng-show="item.descriptions.homepage">Homepage</dt>
					<dd><a ng-href="{{item.descriptions.homepage}}" ng-bind="item.descriptions.homepage"></a></dd>
				<dt ng-show="item.applicationType">Application Type(s)</dt>
					<dd ng-repeat="os in item.applicationType" ng-bind="os.name"></dd>
				<dt ng-show="item.platform">Platform(s)</dt>
					<dd ng-repeat="os in item.platform" ng-bind="os"></dd>
				<dt ng-show="item.developers">Developer(s)</dt>
					<dd ng-repeat="developer in item.developers" ng-bind="developer.name"></dd>
			</dl>
			<hr />
		</section>
		<section id="availableDescriptions" ng-show="item.descriptions.description[1]">
			<h2>Available Descriptions</h2>
			<div class="btn-group btn-group-sm btn-block  btn-group-justified">
				<a class="btn btn-sm btn-block" ng-repeat="desc in item.descriptions.description" ng-click="ui.changeDesc(desc)" ng-bind="desc.provider"></a>
			</div>
			<hr />
		</section>
		<section id="RDF">
			<h2>Structured Descriptor Document</h2>
			<div class="btn-group btn-group-sm btn-block  btn-group-justified">
				<a class="btn btn-sm btn-block" rel="alternate" type="application/rdf+xml" ng-href="http://rdf.tools.dasish.org/tool/{{item.identifier.shortname}}/xml">RDF/XML format</a>
				<a class="btn btn-sm btn-block" rel="alternate" type="text/rdf+n3" ng-href="http://rdf.tools.dasish.org/tool/{{item.identifier.shortname}}/turtle">N3/Turtle</a>
				<a class="btn btn-sm btn-block" rel="alternate" type="application/json+rdf" ng-href="http://rdf.tools.dasish.org/tool/{{item.identifier.shortname}}/json">RDF/JSON</a>
				<a class="btn btn-sm btn-block" rel="alternate" type="text/plain" ng-href="http://rdf.tools.dasish.org/tool/{{item.identifier.shortname}}/ntriples">N-Triples</a>
			</div>
		</section>
		<section id="blocks" ng-show="ui.sections.active > 0">
			<h2>Available blocks</h2>
			<div class="btn-group btn-group-sm btn-block  btn-group-justified">
				<a class="btn btn-sm btn-block" ng-repeat="key in ui.sections.list" ng-show="key" ng-click="ui.sections.toggle(key)" ng-bind="key"></a>
			</div>
			<hr />
		</section>
		<section id="blocks" ng-show="ui.user.data.signedin">
			<span class="pull-right btn btn-default" ng-click="ui.description.edit.show = !ui.description.edit.show;"><span class="glyphicon" ng-class="{'glyphicon-eye-close' : ui.description.edit.show,'glyphicon-eye-open' : !ui.description.edit.show}"></span></span>
			<h2>Edit description</h2>
			<form role="form" ng-submit="ui.description.edit.submit()" ng-show="ui.description.edit.show ">
				<div class="alert alert-danger" ng-bind="ui.description.edit.response.Error" ng-show="ui.description.edit.response.Error"></div>
				<div class="alert alert-success" ng-bind="ui.description.edit.response.Success" ng-show="ui.description.edit.response.Success"></div>

				<div class="form-group">
					<label for="tTitle">Title</label>
					<input type="text" class="form-control" id="tTitle" placeholder="Title" ng-model="ui.description.edit.data.name">
				</div>
				<div class="form-group">
					<label for="tDescription">Description</label>
					<textarea class="form-control" id="tDescription" placeholder="Description" ng-model="ui.description.edit.data.description"></textarea>
				</div>
				<div class="form-group">
					<label for="tVersion">Version</label>
					<input type="text" class="form-control" id="tVersion" placeholder="Version" ng-model="ui.description.edit.data.version">
				</div>
				<div class="form-group">
					<label for="tHomepage">Homepage</label>
					<input type="url" class="form-control" id="tHomepage" placeholder="Homepage" ng-model="ui.description.edit.data.homepage">
				</div>
				<div class="form-group">
					<label for="tAvail">Available from</label>
					<input type="date" class="form-control" id="tAvail" placeholder="YYYY-MM-DD" ng-model="ui.description.edit.data.available_from">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>

			<hr />
		</section>
	</div>
</div>
</section>




<section ng-show="ui.page == 'Forum&Comments'">
	<div class="row">

		<div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-class="{'btn-primary' : ui.forum.active}" ng-click="ui.forum.activate();">Forum</button>
				<button type="button" class="btn btn-default" ng-class="{'btn-primary' : ui.comments.active}" ng-click="ui.comments.activate();">Comments</button>
			</div>
			
			<div ng-show="ui.forum.active" class="pull-right">
				<button ng-show="ui.forum.topic.active" ng-click="ui.forum.topic.active = false" class="btn btn-warning">Close topic</button>
				<button class="btn btn-primary" ng-click="ui.forum.form.active = !ui.forum.form.active" ng-show="ui.forum.active && !ui.forum.topic.active && ui.user.data.signedin">New Subject</button>
				<button class="btn btn-primary" ng-click="ui.forum.form.active = !ui.forum.form.active" ng-show="ui.forum.active && ui.forum.topic.active && ui.user.data.signedin">Close Subject</button>
			</div>
			<div ng-show="ui.comments.active" class="pull-right">
				<button class="btn btn-primary"  ng-click="ui.comments.form.active = true" ng-show="!ui.comments.form.active && ui.user.data.signedin">New Comment</button>
				<button class="btn btn-primary"  ng-click="ui.comments.form.active = false" ng-show="ui.comments.form.active">Close form</button>
			</div>
		</div>

	</div>

	<div class="row" ng-show="ui.comments.active">
		<h2>Comments</h2>
		<div class="container " style="margin-bottom:40px;" ng-show="ui.comments.list && !ui.comments.form.active">
			<div class="row col-lg-10 col-lg-offset-1" ng-repeat="comment in ui.comments.list">
				<div class="container">
					<div class="col-lg-2">
						<h4 style="text-align:center;">{{comment.user.name}}</h4>
						<img src="http://www.gravatar.com/avatar/{{comment.user.mail}}?s=80" alt="..." class="img-circle">
					</div>
					<div class="col-lg-10">
						<h3>{{comment.comment.subject}}</h3>
						<p ng-bind-html="comment.comment.text | newline "></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<form class="form-horizontal" role="form" ng-submit="ui.comments.form.submit()" ng-show="ui.comments.form.active">
				<hr />
				<div class="alert alert-success" ng-show="ui.comments.form.error">{{ui.comments.form.error}}</div>
				<div class="form-group">
					<label for="title" class="col-lg-2 control-label">Title</label>
					<div class="col-lg-10">
						<input type="text" ng-model="ui.comments.form.data.title" class="form-control" id="title" placeholder="Title">
					</div>
				</div>
				<div class="form-group">
					<label for="Message" class="col-lg-2 control-label">Message</label>
					<div class="col-lg-10">
						<textarea ng-model="ui.comments.form.data.text" id="Message" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default">Comment</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row" ng-show="ui.forum.active">
		
		<div class="container " style="margin-bottom:40px;" ng-show="ui.forum.topic.active">
			<div class="row col-lg-10 col-lg-offset-1" ng-repeat="comment in ui.forum.topic.list" >
				<div class="container">
					<div class="col-lg-2" style="text-align:center;">
						<h4>{{comment.user.name}}</h4>
						<img src="http://www.gravatar.com/avatar/{{comment.user.mail}}?s=80" alt="..." class="img-circle">
					</div>
					<div class="col-lg-10">
						<h3>{{comment.comment.subject}}</h3>
						<p ng-bind-html="comment.comment.text | newline "></p>
					</div>
				</div>
			</div>
			<div class="row col-lg-10 col-lg-offset-1">
				<button class="btn btn-primary" ng-click="ui.forum.topic.form.active = !ui.forum.topic.form.active" ng-show="!ui.forum.topic.form.active">Reply</button>
				<hr />
				<form class="form-horizontal" role="form" ng-submit="ui.forum.topic.form.submit()" ng-show="ui.forum.topic.form.active">
					<div class="alert alert-success" ng-show="ui.forum.topic.form.error">{{ui.forum.topic.form.error}}</div>
					<div class="form-group">
						<label for="title" class="col-lg-2 control-label">Title</label>
						<div class="col-lg-10">
							<input type="text" ng-model="ui.forum.topic.form.data.title" class="form-control" id="title" placeholder="Title">
						</div>
					</div>
					<div class="form-group">
						<label for="Message" class="col-lg-2 control-label">Message</label>
						<div class="col-lg-10">
							<textarea ng-model="ui.forum.topic.form.data.text" id="Message" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-default">Reply</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<div class="row col-lg-10 col-lg-offset-1">
			<form class="form-horizontal" role="form" ng-submit="ui.forum.form.submit()" ng-show="ui.forum.form.active">
				<div class="alert alert-success" ng-show="ui.forum.form.error">{{ui.forum.topic.form.error}}</div>
				<div class="form-group">
					<label for="title" class="col-lg-2 control-label">Title</label>
					<div class="col-lg-10">
						<input type="text" ng-model="ui.forum.form.data.title" class="form-control" id="title" placeholder="Title">
					</div>
				</div>
				<div class="form-group">
					<label for="Message" class="col-lg-2 control-label">Message</label>
					<div class="col-lg-10">
						<textarea ng-model="ui.forum.form.data.text" id="Message" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default">New topic</button>
					</div>
				</div>
			</form>
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr><th>Date</th><th>Title</th><th>User</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="topic in ui.forum.list">
					<td>{{topic.comment.date}}</td>
					<td><a ng-click="ui.forum.topic.read(topic.identifier)">{{topic.comment.subject}}</a></td>
					<td>{{topic.user.name}}</td>
				</tr>
			</tbody>
		</table>

	</div>
</section>