
<div class="row"><h1>{{item.descriptions.title}}</div>
<div class="row">

	<div class="col-lg-8">
		<div class="row">
			<div class="col-lg-12">
				<h2>{{item.desc.provider}}</h2>
				<p>Source : <a href="{{item.desc.uri}}">{{item.desc.uri}}</a></p>
				<p ng-bind-html="item.desc.text | newline"></p>
			</div>
			<div class="col-lg-12">
				<h2>Keyword</h2>
				<ul  class="list-inline">
					<li ng-repeat="kw in item.keyword" >{{kw.keyword}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="btn-group-vertical btn-block">
			<a class="btn btn-primary btn-lg btn-block" ng-repeat="desc in item.descriptions.description" ng-click="ui.changeDesc(desc)">{{desc.provider}}</a>
		</div>
		<p>&nbsp;</p>
		<h2 class="btn btn-success btn-lg btn-block">Information</h2>
		<dl>
			<dt>Tool Type</dt>
			<dd ng-repeat="type in item.type" legend="{{type.uri}}" ng-bind="type.type"></dd>
			<dt>Licence</dt>
			<dd ng-repeat="licence in item.licence" ng-bind="licence.name"></dd>
			<dt>Licence Type</dt>
			<dd ng-repeat="licence in item.licence" ng-bind="licence.type"></dd>
			<dt>Homepage</dt>
			<dd><a ng-href="{{item.descriptions.homepage}}" ng-bind="item.descriptions.homepage"></a></dd>
			<dt>Application Type(s)</dt>
			<dd ng-repeat="os in item.applicationType" ng-bind="os.name"></dd>
			<dt>Platform(s)</dt>
			<dd ng-repeat="os in item.platform" ng-bind="os"></dd>
			<dt>Developer(s)</dt>
			<dd ng-repeat="developer in item.developers" ng-bind="developer.name"></dd>
		</dl>
	</div>
</div>
<div class="row">

	<div class="btn-toolbar">
		<div class="btn-group">
			<button type="button" class="btn btn-success" ng-click="ui.forum.activate();">Forum</button>
			<button type="button" class="btn btn-warning" ng-click="ui.comments.activate();">Comments</button>
		</div>
		<div class="btn-group" ng-show="ui.forum.active">
			<button ng-show="ui.forum.topic.active" ng-click="ui.forum.topic.active = false" class="btn btn-warning">Close topic</button>
			<button ng-show="ui.forum.active" class="btn btn-primary" ng-click="ui.forum.form.active = !ui.forum.form.active" ng-show="!ui.forum.form.active">New Subject</button>
		</div>
		<div class="btn-group" ng-show="ui.comments.active">
			<button class="btn btn-primary"  ng-click="ui.comments.form.active = true" ng-show="!ui.comments.form.active">New Comment</button>
			<button class="btn btn-primary"  ng-click="ui.comments.form.active = false" ng-show="ui.comments.form.active">Close form</button>
		</div>
	</div>

</div>

<div class="row" ng-show="ui.comments.active">
	<h2>Comments</h2>
	<div class="container " style="margin-bottom:40px;" ng-show="ui.comments.list && !ui.comments.form.active">
		<div class="row col-lg-10 col-lg-offset-1" ng-repeat="comment in ui.comments.list">
			<div class="container">
				<div class="col-lg-2">
					<h4 style="text-align:center;">{{comment.user.name}}</h4>
					<img src="http://www.gravatar.com/avatar/{{comment.user.mail}}?s=80" alt="..." class="img-circle">
				</div>
				<div class="col-lg-10">
					<h3>{{comment.comment.subject}}</h3>
					<p ng-bind-html="comment.comment.text | newline "></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<form class="form-horizontal" role="form" ng-submit="ui.comments.form.submit()" ng-show="ui.comments.form.active">
			<hr />
			<div class="alert alert-success" ng-show="ui.comments.form.error">{{ui.comments.form.error}}</div>
			<div class="form-group">
				<label for="title" class="col-lg-2 control-label">Title</label>
				<div class="col-lg-10">
					<input type="text" ng-model="ui.comments.form.data.title" class="form-control" id="title" placeholder="Title">
				</div>
			</div>
			<div class="form-group">
				<label for="Message" class="col-lg-2 control-label">Message</label>
				<div class="col-lg-10">
					<textarea ng-model="ui.comments.form.data.text" id="Message" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default">Comment</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row" ng-show="ui.forum.active">
	
	<div class="container " style="margin-bottom:40px;" ng-show="ui.forum.topic.active">
		<div class="row col-lg-10 col-lg-offset-1" ng-repeat="comment in ui.forum.topic.list" >
			<div class="container">
				<div class="col-lg-2" style="text-align:center;">
					<h4>{{comment.user.name}}</h4>
					<img src="http://www.gravatar.com/avatar/{{comment.user.mail}}?s=80" alt="..." class="img-circle">
				</div>
				<div class="col-lg-10">
					<h3>{{comment.comment.subject}}</h3>
					<p ng-bind-html="comment.comment.text | newline "></p>
				</div>
			</div>
		</div>
		<div class="row col-lg-10 col-lg-offset-1">
			<button class="btn btn-primary" ng-click="ui.forum.topic.form.active = !ui.forum.topic.form.active" ng-show="!ui.forum.topic.form.active">Reply</button>
			<hr />
			<form class="form-horizontal" role="form" ng-submit="ui.forum.topic.form.submit()" ng-show="ui.forum.topic.form.active">
				<div class="alert alert-success" ng-show="ui.forum.topic.form.error">{{ui.forum.topic.form.error}}</div>
				<div class="form-group">
					<label for="title" class="col-lg-2 control-label">Title</label>
					<div class="col-lg-10">
						<input type="text" ng-model="ui.forum.topic.form.data.title" class="form-control" id="title" placeholder="Title">
					</div>
				</div>
				<div class="form-group">
					<label for="Message" class="col-lg-2 control-label">Message</label>
					<div class="col-lg-10">
						<textarea ng-model="ui.forum.topic.form.data.text" id="Message" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default">Reply</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="row col-lg-10 col-lg-offset-1">
		<form class="form-horizontal" role="form" ng-submit="ui.forum.form.submit()" ng-show="ui.forum.form.active">
			<div class="alert alert-success" ng-show="ui.forum.form.error">{{ui.forum.topic.form.error}}</div>
			<div class="form-group">
				<label for="title" class="col-lg-2 control-label">Title</label>
				<div class="col-lg-10">
					<input type="text" ng-model="ui.forum.form.data.title" class="form-control" id="title" placeholder="Title">
				</div>
			</div>
			<div class="form-group">
				<label for="Message" class="col-lg-2 control-label">Message</label>
				<div class="col-lg-10">
					<textarea ng-model="ui.forum.form.data.text" id="Message" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default">New topic</button>
				</div>
			</div>
		</form>
	</div>
	
	<table class="table table-striped">
		<thead>
			<tr><th>Date</th><th>Title</th><th>User</th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="topic in ui.forum.list">
				<td>{{topic.comment.date}}</td>
				<td><a ng-click="ui.forum.topic.read(topic.identifier)">{{topic.comment.subject}}</a></td>
				<td>{{topic.user.name}}</td>
			</tr>
		</tbody>
	</table>

</div>